  @charset "UTF-8";
/* CSS Document */

body {
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff; 
  font-size: 1.6em;
  line-height: 1.8em;
  background-color: #ff0099; 
}

.wrapper {
  width: 85%; 
  margin: 0 auto;
  padding: 1.2em 0; 
}

h1 {
  font-family: 'Cute Font', cursive;
  font-size: 2.8em;
  color: #000; 
}

footer p {
  font-size: 1em;
  color: #000; 
}

